{% extends 'base/base.html' %} {% block title %}{{ post.title }} | {% endblock%} {% block content %}
<section class="section">
  <div class="columns is-variable is-8">
    <div class="column is-5 is-offset-1">
        {% if  post.image %}
            <figure class="image mb-6">
                <img src="{{ post.image.url }}" alt="image">
            </figure>
        {% endif %}
      <div class="content is-medium">
        <h2 class="subtitle is-5 has-text-grey">
          {{ post.created_at|timesince }} ago
        </h2>
        <h1 class="title has-text-black is-3">{{ post.title }}</h1>
        <p class="has-text-dark"><strong>{{ post.content }}</strong></p>
        <p>{{ post.body }}</p>
        <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></small></p>
        <hr />

        <h2 class="subtitle is-5 has-text-grey">Comments</h2>

        <form method="post" class="mb-6">
          {% csrf_token %} {{ form.as_p }}
          <div class="field">
            <div class="control">
              <button class="button is-success">Submit Comment</button>
            </div>
          </div>
        </form>

        {% if post.comments.all %} {% for comment in post.comments.all %}
        <article class="media box">
          <div class="media-content">
            <strong>{{ comment.name }}</strong>
            <small>{{ comment.created_at|timesince }} ago</small>
            <br />
            {{ comment.body }}
          </div>
        </article>
        {% endfor %} {% else %}
        <p>No comments yet. Be the first to comment!</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
